    <form id="house-photo-form">
        <div id="house-info-tab">
            <div id="house-info-fields">
                <div class="grouper">
                    <p class="house-info-form-title">Chú thích:</p>
                    <input name="renthouse-address"  id="photo-name" />

                    <p class="house-info-form-title">Ảnh:</p>
                    <div class="mView">
                     <div id="upload_box">
                        <div id="upload" class="ok-button">Tải ảnh</div>
                        <span id="status" ></span>
                      </div>
                    </div>                   
                </div>
        </div>
        <div class="clear"></div>
    </form>
<div class="grouper" id="list-photo-rent-house">
  <p class="house-info-form-title">Danh sách ảnh</p>
</div>  