
	
	<div class="mail">
			<div id="response">

		</div>
		<form id="formail" action="SendMailForm" method ="post">
			<label>Name : </label>
			<input type="text" name="name" id="name" />
			<label>Your mail :</label>
			<input type="text" name="mail" id="mail" />
			<label>Subject : </label>
			<input type="text" name="subject" id="subject" />
			<label>Text :</label>
			<textarea name="text" id="text" cols="40" rows="10"></textarea>
			<input type="submit" value="send mail" id="sendmail" name="sendmail" />
			</form>
	</div>



<div class="mail">
    <div id="response">

    </div>
    <form id="formail" action="SendMailForm" method ="post">
        <div class="share-label-col-consumer">
<span class="gwt-InlineLabel label">Include:</span>
<select id="alternate-share-items" class="gwt-ListBox share-content-col-consumer">
    <option value="All search results">All search results</option>
    <option value="A. bia hơi">A. bia hơi</option>
<option value="B. Quán Bia Hơi Tiệp">B. Quán Bia Hơi Tiệp</option>
<option value="C. Quán Bia Hơi Hà Nội 189">C. Quán Bia Hơi Hà Nội 189</option>
<option value="D. Nhà Hàng Bia Hơi Lan Chín">D. Nhà Hàng Bia Hơi Lan Chín</option>
<option value="E. Bia Hơi Lan Chín">E. Bia Hơi Lan Chín</option>
<option value="F. Quán Cơm Bia">F. Quán Cơm Bia</option>
<option value="G. Quán Bia Hơi Hà Nội">G. Quán Bia Hơi Hà Nội</option>
<option value="H. Quán Bia Hơi Hà Nội">H. Quán Bia Hơi Hà Nội</option>
<option value="I. Bia Hơi Hà Nội">I. Bia Hơi Hà Nội</option>
<option value="J. Nhag Hàng Bia Hơi Hà Nội Lan Chín">J. Nhag Hàng Bia Hơi Hà Nội Lan Chín</option>
</select>
        </div>
<div class="share-label-col-consumer">
<span class="gwt-InlineLabel label">To:</span>
<input id="recipients" class="share-textarea" type="text" aria-haspopup="true">
<a href="#null">Contacts</a>
</div>
     <div class="share-label-col-consumer">
<span class="gwt-InlineLabel label">From:</span>

<div id="from-uneditable" class="gwt-Label from-label-consumer share-content-col-consumer">"bao nguyen" &lt;damphilong101@gmail.com&gt;</div>

</div>

        <label>Subject : </label>
        <input type="text" name="subject" id="subject" />
        <label>Text :</label>
        <textarea name="text" id="text" cols="40" rows="10"></textarea>
        <div class="share-content-col-consumer">
        <button id="send-button" class="gwt-Button gwt-Button-consumer" type="submit">Send</button>
        </div>
    </form>
</div>

