<div class="instruction-title">Bạn cần phải <a href="member/login">đăng nhập</a> để thực hiện chức năng này</br>
    Nếu chưa có tài khoản trên LifeMap bạn có thể đăng kí nhanh chóng tại <a href="opAuthMailAddress/requestRegisterURL">đây</a>
    </br>
    Khi đăng nhập bạn có thể</div></br>
    <ul>
        <li>-Tạo mới địa điểm của bạn trên bản đồ LifeMap </br></li>
        <li>-Quan tâm đến địa điểm và nhận thông tin mới nhất từ các địa điểm đó</li>
        <li>-Viết chia sẻ cảm nhận tới địa điểm mà bạn từng đến</li>
        <li>-Biết được bạn bè của bạn đang ở đâu và chia sẻ vị trí của bạn tới bạn bè</li>
        <li>-Nhận thông tin mới nhất về các địa điểm từ LifeMap</li>
    </ul>
</div>