<div class="">
    <p style="color:red"><%=description%></p>
    <div id="intro">
        <p class="title">Bạn vui lòng thử lại với một trong các cách sau:</p>
        <ul>
            <li>1. Mở rộng bản đồ tìm kiếm bằng cách giảm độ Zoom</li>
            <li>2. Tìm kiếm với từ khóa tổng quát hơn</li>
            <li>3. Kiểm tra các ký tự trong từ khóa của bạn</li>
            <li>4. Chọn <a href="#">đăng địa điểm</a> nếu bạn biết một địa điểm với từ khóa đó mà hiện không có trên LifeMap</li>
        </ul>
    </div>
</div>