<div class="groupon-item">
    <div class="groupon-row0">
        <h3 class="groupon-title"><a href="">Nhà hàng BBQ</a></h3>
        <div class="stat">
            <a href="">Quan tâm</a>
            <a href="">Đã mua</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="groupon-row1">
        <div class="groupon-col1">
            <h3 class="price">138.000 <span class="unit">VND</span></h3>
            <button class="groupon-view">Xem</button>
            <p class="groupon-extra-info">Giá gốc: <strike><span class="value">250.000 VND</span></strike></p>
            <p class="groupon-extra-info">Số người mua: <span class="value">1245</span> nguoi</p>
            <p class="groupon-extra-info">Kết thúc: <span class="value">20/12/2012</span></p>
        </div>
        <div class="groupon-col2">
            <div class="discount-container">
                <img class="discount-img" src="discount.png" />
                <div class="discount-text">40%</div>
            </div>            
            <img class="avatar" src="groupon.jpg" />
            <div class="source">
                <p>Nguồn: nhommua.com</p>
            </div>
        </div>
        <div class="clear"></div>
    </div><!-- end row 1 -->

    <div class="groupon-row2">
        <div class="groupon-intro">
            Thỏa sức lựa chọn các loại đồ uống cực thơm ngon và hấp dẫn tại Daily Cafe - Chỉ 40.000đ được phiếu trị giá 80.000đ
        </div>
        <div class="groupon-addr">Đội Cấn - Ba Đình - Hà Nội</div>
    </div><!-- end row 2 -->
</div> 